packages/opportunity-automation/main/default/flows/POC_Opportunity_NotifyOwnerOfAmount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notify the owner of the Opportunity that it now exceeds $100,000.00</description>
        <name>Notify_Owner</name>
        <label>Notify Owner</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <constants>
        <name>amountLimit</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>100000.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Does_amount_exceed_100_000_00</name>
        <label>Does amount exceed $100,000.00?</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>amountLimit</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordPrior.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>amountLimit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Notifies the owner of an Opportunity that the Opportunity amount exceeds $100,000.00.</description>
    <environments>Default</environments>
    <interviewLabel>Notify Opportunity owner or amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Opportunity Owner of Amount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_amount_exceed_100_000_00</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Body of the Email alert sent to the manager.</description>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Opportunity {!record.Name} exceeds $100,000.00.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Opportunity exceeds $100,000.00</text>
    </textTemplates>
    <variables>
        <description>the new version of the record in the DML operation</description>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>the old version of the record in the DML operation</description>
        <name>recordPrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
