packages/lead-automation/main/default/flows/POC_Lead_AssignmentRules.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Lead_to_Queue</name>
        <label>Assign Lead to Queue</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_ID.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>POCQueueDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>POC_Queue</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Lead_Source</name>
        <label>Lead Source</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>LeadSourceWeb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_ID</targetReference>
            </connector>
            <label>Web</label>
        </rules>
    </decisions>
    <description>Assigns new Leads to the proper Queue, depending on the Lead origin.</description>
    <environments>Default</environments>
    <interviewLabel>Lead Assignment Rules {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Assignment Rules</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetches the ID of the POC Queue.</description>
        <name>Get_Queue_ID</name>
        <label>Get Queue ID</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Lead_to_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>POCQueueDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Source</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>the new version of the record in the DML operation</description>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
